body{
margin:0;
font-family:Arial;
background:#fff5f7;
text-align:center;
}

header{
background:#ff4d6d;
color:white;
padding:30px;
}

.hero{
padding:50px;
}

.gallery{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.gallery img{
width:300px;
height:300px;
object-fit:cover;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,0.2);
}

section{
padding:40px;
}

video{
width:80%;
max-width:700px;
border-radius:20px;
}

.timeline{
font-size:20px;
line-height:2;
}

.letter{
max-width:700px;
margin:auto;
font-size:20px;
line-height:1.8;
}

#days{
font-size:30px;
font-weight:bold;
color:#ff4d6d;
}